.character-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    max-width: 250px;
    text-decoration: none;
    background-color: black;
    display: block; 
    text-decoration: none
  }
  
  .character-card h3 {
    margin-top: 0;
  }
  
  .character-card a {
    color: #0077cc;
    text-decoration: none;
  }
  
  .character-card a:hover {
    text-decoration: underline;
  }
  
  .character-card .card-link {
    text-decoration: none; 
    color: inherit;    
    display: block;    
  }

  .character-card:hover {
    transform: scale(1.05);
}
  